In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from seaborn import heatmap
import matplotlib as plt
from sklearn.metrics import confusion_matrix

In [2]:
#Importing required dataset
cal_housing = fetch_california_housing(as_frame = True)
x = pd.DataFrame(cal_housing.data, columns = cal_housing.feature_names)
y= cal_housing.target

In [3]:
x.head()

#y.head()

#cal_housing.frame.head()
print(x.dtypes)

MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
dtype: object

In [4]:
# split the data for training and testing
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.2)

x_test

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
10757,10.2849,26.0,7.807095,1.008869,1336.0,2.962306,33.64,-117.87
1667,6.0224,15.0,6.635802,1.009259,1094.0,3.376543,38.02,-122.21
603,2.5362,29.0,4.173913,1.119565,1021.0,1.849638,37.69,-122.07
10209,5.3649,32.0,6.399240,1.038023,719.0,2.733840,33.88,-117.92
4453,3.1146,48.0,4.183028,0.990017,2484.0,4.133111,34.10,-118.17
...,...,...,...,...,...,...,...,...
5492,6.1726,18.0,4.707938,1.234648,3408.0,1.701448,33.97,-118.46
20568,4.8226,18.0,6.589704,0.985959,1907.0,2.975039,38.66,-121.78
12390,7.9885,5.0,12.626866,3.716418,117.0,1.746269,33.74,-116.44
7303,2.8214,40.0,3.771318,1.054264,1257.0,4.872093,33.98,-118.19
4679,6.2223,52.0,5.959559,1.044118,588.0,2.161765,34.07,-118.34

In [5]:
#Scale the data
scale = StandardScaler()
x_train_scaled = scale.fit_transform(x_train)
x_test_scaled = scale.fit_transform(x_test)

#x_test_scaled

In [6]:
#train the MLP for the training data
# An arbitrary width and depth of the MLP has been choosen
regressor = MLPRegressor(hidden_layer_sizes = (100,100,100), activation = 'relu',
                        random_state = 1, max_iter = 2000).fit(x_train_scaled, y_train)

In [7]:
#predicting the unseen test data
y_pred = regressor.predict(x_test_scaled)

#y_pred.shape
#print the outputs to visualise
print('predicted outputs: \n {}'.format(y_pred))

predicted outputs:
 [4.73344852 2.74996418 1.42956767 ... 1.96652905 1.36609075 4.29949233]

In [8]:
from sklearn.metrics import r2_score

'''
We cannot implement the confusion matrix for a continuous type
'''
    
r2Score = r2_score(y_test,y_pred)
print(r2Score)

0.7126538854361358

In [9]:
'''
To plot the confusion matrix for this regression problem, convert the float values to string and run the code
Note: This process is highly time expensive
'''

# x['MedInc'] = x['MedInc'].astype(str)
# y_pred1 = y_pred.astype(str)
# print(y_pred1.dtype)
# print(y_pred1)

# confusion = confusion_matrix(y_test.astype(str), y_pred1)
# heatmap(confusion, annot = True)
# plt.show()

'\nTo plot the confusion matrix for this regression problem, convert the float values to string and run the code\nNote: This process is highly time expensive\n'